@import "../../styles/styles.scss";

.poke_info_stats {
    width: 100%;
    .poke_info_stats_pokemon {
        .poke_info_stats_pokemon_1 {
            @include Flex_SpaceBetween_Center;
            margin: 0px 5%;
        }
    }
}

@media screen and (max-width: 600px) {
    .poke_info_stats {
        margin: 0px 5%;
    }
}
