@import "../../styles/styles.scss";

header {
    @include Flex_Center_Center;
    padding-top: 20px;
    padding-bottom: 40px;
    .logo_header {
        width: 280px;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding-bottom: 20px;
        .logo_header {
            width: 72%;
        }
    }
}
